{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}

{%- if recommendations.performed and recommendations.products_count > 0 -%}
  <div class="product-recommendations section-{{ section.id }}-padding">
    <div class="page-width">
      {%- if section.settings.heading != blank -%}
        <h2 class="product-recommendations__heading {{ section.settings.heading_size }}">
          {{ section.settings.heading | escape }}
        </h2>
      {%- endif -%}

      <div class="product-recommendations__grid grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--2-col-tablet-down">
        {%- for product in recommendations.products limit: section.settings.products_to_show -%}
          {% render 'product-card', product: product, show_secondary_image: section.settings.show_secondary_image, show_vendor: section.settings.show_vendor, show_rating: section.settings.show_rating %}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product Recommendations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating"
    }
  ]
}
{% endschema %}

